name: "test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
  delete:
  create:

jobs:
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with: 
        PLF_END_POINT_URL: "https://pipeline-factory.tools.salt-dev.ws/"
        PLF_API_KEY : ${{ secrets.PLF_API_KEY }}